<template>
    <div>
        <!-- <div class="about">
            <img src="static/img/about.svg" alt="" class="icones">
        </div> -->
        <div class="minim">
            <img src="static/img/minim.svg" alt="" class="icones" @click="minime()">
            </div>
        <div class="close">
            <img src="static/img/close.svg" alt="" class="icones" @click="eteindre()">
        </div>
    </div>
</template>

<script>
  import electron from 'electron'

  const {remote} = electron

  export default {
    name: 'menumini',
    methods: {
      eteindre () {
        remote.getCurrentWindow().close()
      },
      minime () {
        remote.getCurrentWindow().minimize()
      }
    }
  }
</script>

<style>
.icones {
  position: fixed;
  z-index: 11;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.close{
  position: fixed;
  z-index: 12;
  top:2px;
  right:2px;
  width:25px;
  height:25px;
}
.minim{
  position: fixed;
  z-index: 12;
  top:2px;
  right:37px;
  width:25px;
  height:25px;
}
.about{
  position: fixed;
  z-index: 12;
  top:2px;
  right:62px;
  width:25px;
  height:25px;
}
</style>
