<template>
    <div>
        <header>
            <div class="fc">
                <img src="/static/img/logo.svg" class="logo" />
            </div>
            <div class="navbar-menu">
                <router-link :to="{name: 'actualite'}" class="menu-item">Actualités</router-link>
                <router-link :to="{name: 'phototheque'}" class="menu-item">Photothèque</router-link>
                <router-link :to="{name: 'videotheque'}" class="menu-item">Videotheque</router-link>
            </div>
        </header>
        <content class="contenu">
            <router-view></router-view>
        </content>
    </div>
</template>

<script>
export default {
  name: 'contenu'
}
</script>

<style>
header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(34, 34, 34, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contenu{
    position: fixed;
    top:80px;
    left:0;
    right:0;
    bottom:43px;
}
.fc{
    text-align:left;
    width:40%;
}
.logo{
  z-index:11px;
  padding: 5px;
  height: 70px;
  display: block;
}
.navbar-menu {
  text-align:right;
  z-index: 11;
  margin-right:60px;
  height: 80px;
  line-height: 80px;
  width:50%;
}
.menu-item {
  color:white;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }
.menu-item:first-child:before {
  display: none; }
.menu-item:before {
  content: "\\\\";
  color: #fff;
  display: inline-block;
  padding: 0 10px; }
.menu-item:hover, .menu-item.is-active {
  color: #000; }
a.menu-item
{
  text-decoration: none;
  font-size: 14pt;
}
</style>
