<template>
  <div class="radio">
    <div class="radio__player">
      <div class="action control">
        <img src="/static/img/play.svg" alt="" class="icons" @click="actionplay()" title="Play" v-if="etatlecture">
        <img src="/static/img/pause.svg" alt="" class="icons" @click="actionpause()" title="Pause" v-else="etatlecture">
      </div>
      <div class="action">Fréquence country</div>
      <div class="action audio">
        <img src="/static/img/unmuted.svg" alt="" class="icons" @click="mute()" title="Mute" v-if="etatson">
        <img src="/static/img/muted.svg" alt="" class="icons" @click="unmute()" title="UnMute" v-else="etatson">
        <input type="range" :value="volume" v-model="volume" max="1" min="0" step="0.05" class="range" v-on:change="updateVolume()">
      </div>
    </div>
    <audio :id="player" ref="audiofile" :src="file" :autoplay="autoplay" v-model="volume" style="display:none;"></audio>
  </div>
</template>

<script>
  export default {
    name: 'radio',
    props: {
      file: {
        type: String,
        default: null
      },
      player: {
        type: String,
        default: null
      },
      volume: {
        type: String,
        default: '0.1'
      },
      autoplay: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        etatlecture: true,
        etatson: true,
        old_volume: null
      }
    },
    mounted () {
      if (this.autoplay === true) {
        this.etatlecture = false
      }
    },
    methods: {
      actionplay () {
        document.getElementById(this.player).play()
        this.etatlecture = false
      },
      actionpause () {
        document.getElementById(this.player).pause()
        this.etatlecture = true
      },
      updateVolume () {
        if (this.volume === '0') {
          this.mute()
        }
        if (this.volume > '0') {
          this.old_volume = this.volume
          this.unmute()
        }
      },
      mute () {
        this.old_volume = this.volume
        this.volume = 0
        document.getElementById(this.player).volume = 0
        this.etatson = false
      },
      unmute () {
        document.getElementById(this.player).volume = this.old_volume
        this.volume = this.old_volume
        this.etatson = true
      }
    }
  }
</script>

<style>
.radio__player {
  position: fixed;
  top:auto;
  bottom:0px;
  left:0;
  right:0;
  background: black;
  font-family: "Helvetica", Arial, serif;
  box-sizing: border-box;
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action {
  font-size: 8pt;
  color: white;
}
.action button{
  border:0;
  background:none;
}
.icons {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.range{
  position:relative;
  top:-6px;
  margin-left:20px;
  margin-right:20px;
  width:100px;
}
input[type=range] {
  -webkit-appearance: none;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 10px;
  cursor: pointer;
  background: #928483;
  border-radius: 5px;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 10px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #9e9191;
}
input[type=range]::-moz-range-track {
  cursor: pointer;
  background: #928483;
}
input[type=range]::-moz-range-thumb {
  height: 39px;
  width: 19px;
  border-radius: 2px;
  background: #6b1817;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #867776;
  border-radius: 12.4px;
}
input[type=range]::-ms-fill-upper {
  background: #928483;
  border-radius: 12.4px;
}
input[type=range]::-ms-thumb {
  height: 39px;
  width: 19px;
  border-radius: 5px;
  background: #6b1817;
  cursor: pointer;
  height: 12.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #928483;
}
input[type=range]:focus::-ms-fill-upper {
  background: #9e9191;
}
</style>
