<template>
  <div id="app">
    <contenu></contenu>
    <menumini></menumini>
    <radio file="http://shiva.prosoluce.net:8000/frequencecountry" volume="0.1" player="player_radio"></radio>
  </div>
</template>

<script>
  import Radio from './components/Radio/Radio'
  import Menumini from './components/Menumini/Menumini'
  import Contenu from './components/Contenu/Contenu'

  export default {
    name: 'FrequenceCountryApplication',
    components: {
      Radio,
      Menumini,
      Contenu
    },
    mounted () {
      this.$electron.ipcRenderer.on('ping', e => {
        console.log('Tray menu clicked: `pong`')
      })
    }
  }
</script>

<style>
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body{
  height: 100%;
}
body {
  background-image: url('/static/img/header.jpg') ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
  overflow: hidden;
}
#app{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}
</style>
